<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}"
      layout:fragment="content">
<head>
    <style>
    .is-invalid {
        border-color: #dc3545;
        color: #dc3545;
    }
    .form-floating{
        margin-top: 20px;
    }
    div.is-invalid{
        font-size: 0.87em;
    }
    #imagePreview {
        width: 150px;
        height: 150px;
        border-radius: 70%;
        overflow: hidden;
    }
    .row{
        margin-top: 20px;
    }
</style>
    <title>책 등록</title>
    <script th:src="@{/js/book/addBookForm.js}"></script>
</head>
<body>
<div class="container" style="max-width: 800px">
    <div class="mb-3 text-center" style="margin-top: 20px;">
        <h4 class="mb-3">책 등록</h4>
    </div>

    <form id="joinForm" action="member.html" th:action th:object="${book}" method="post">

        <!-- 썸네일 이미지 미리보기 -->
        <div class="mb-3 text-center">
            <img id="imagePreview" src="" alt="책 이미지"
                 style="width: 150px; height: auto; border-radius: 10px; margin: 0 auto; display: none;">
        </div>

        <!-- 숨겨진 썸네일 이미지 URL 저장 필드 -->
        <input type="hidden" id="bookThumbnail" name="thumbnail_img" th:field="*{thumbnailImg}">

        <div class="input-group mb-3 input-group-lg" style="margin-bottom: 20px;">
            <span class="input-group-text">도서명</span>
            <input type="text" class="form-control" id="bookName" th:field="*{bookName}"
                   placeholder="" aria-label="Recipient's username" aria-describedby="searchBookPopupOpen" readonly>
            <button class="btn btn-outline-secondary" type="button" id="searchBookPopupOpen">도서 검색</button>
        </div>
        <div class="input-group input-group-lg" style="margin-bottom: 20px;">
            <span class="input-group-text">작 가</span>
            <input type="text" id="bookWriter" th:field="*{bookWriter}" class="form-control" readonly>
        </div>
        <div class="input-group input-group-lg" style="margin-bottom: 20px;">
            <span class="input-group-text">출판사</span>
            <input type="text" id="publisher" th:field="*{publisher}" class="form-control" readonly>
        </div>
        <div class="input-group input-group-lg">
            <span class="input-group-text">ISBN</span>
            <input type="text" id="bookIsbn" th:field="*{isbn}" class="form-control" readonly>
        </div>
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="button" id="saveBtn">책 등록</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='members.html'"
                        th:onclick="|location.href='@{/book}'|" type="button">취소</button>
            </div>
        </div>
    </form>
</div> <!-- /container -->
</body>
</html>